/custom/accounting_pdf_reports/
/custom/Hospital_Management/
/custom/new_odoo_inherit/
/custom/report_xlsx/
/custom/web_responsive/
odoo
odoo.egg-info
setup
/venv/
LICENSE
MANIFEST.in
odoo-bin
odoo.conf
PKG-INFO
README.md
requirements.txt
setup.cfg
setup.py
.idea

